<div class='main-nav'>
    <div class='navbar navbar-default'>
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <ul class='nav navbar-nav'>
                    <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                        <a [routerLink]='["/"]' (click)='collapse()'>
                            Home
                        </a>
                    </li>
                    <li [routerLinkActive]='["link-active"]'>
                        <a [routerLink]='["/Category"]' (click)='collapse()'>
                            Category
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" *ngIf="cart">
                    <li>
                        <a [routerLink]='["/Cart"]'>
                            <span class='glyphicon glyphicon-shopping-cart'></span><span> {{cart.cartLines.length}} </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
