<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <ul class='nav navbar-nav'>
            <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
                <a [routerLink]='["/"]' (click)='collapse()'>
                    <span class='glyphicon glyphicon-home'></span> Home
                </a>
            </li>
            <li [routerLinkActive]='["link-active"]'>
                <a [routerLink]='["/Category"]' (click)='collapse()'>
                    <span class='glyphicon glyphicon-education'></span> Category
                </a>
            </li>
        </ul>
    </div>
</div>
